modules = ["nodejs-20", "web", "bash", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 3002

[[ports]]
localPort = 5003
externalPort = 3000

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[userenv]

[userenv.shared]
ADMIN_NOTIFICATION_EMAIL = "shelancircle@gmail.com"
FROM_EMAIL = "Shelan Nutrition <noreply@shelancircle.com>"
WEBSITE_URL = "https://shelancircle.com"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_live_51PWFwKG0aWxT6nu0H2ZsuTGbW0WHU35Sasf1XivC2zJJL3ab95WMoJdmAmuF1AKaiD2lfKD9HM27tfFd1vZKlwGk00I5wSztDA"
VITE_SUPABASE_ANON_KEY = "sb_publishable_IR9AomCJxNGDaHdfdaulxQ_QoW7WyIh"
VITE_SUPABASE_URL = "https://zioslbbneoklfmbbetfn.supabase.co"
GA4_PROPERTY_ID = "547340341"
